jupyter-book
matplotlib
numpy>1.0.0
wheel
setuptools>=67
gdal[numpy]
scipy
pandas
jupyter
scikit-learn
SALib
plotly
jupyterlab
jupyterlab_myst
ipywidgets
sphinx
plotly
tabulate
docutils<0.18
radiative-transfer-models
pyTSEB
model_evaluation@git+https://github.com/hectornieto/model_evaluation
fluxnet_helpers@git+https://github.com/hectornieto/fluxnet-helpers
